@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

aside {
    display: flex;
    flex-direction: column;
    gap: 8px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 0;
    background-color: #000;
    grid-area: left-sidebar;
    position: relative;

    /* Non selectable */
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
button {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    cursor: pointer;
}
.aside-nav {
    padding: 11px 10px;
    background-color: #121212;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    gap: 10px;
}
.nav-button {
    padding: 4px 12px;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: start;
    align-items: center;
    max-width: 200px;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    font-size: 16px;
    font-weight: 700;
    gap: 20px;
    color: white;
    opacity: 0.6;
    transition: 0.4s;
    cursor: pointer;
    text-decoration: none;
    list-style: none;
}
a {
    text-decoration: none;
}
.nav-button:hover {
    color: white;
    opacity: 1;
}

.nav-button-active {
    color: white;
    opacity: 1;
}
/* Library list */
.aside-library {
    position: relative;
    background-color: #121212;
    border-radius: 8px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 0;
    padding-top: 0;
    width: 100%;
    overflow-y: scroll;
}


.aside-library::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
}
.library-albums-nav {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
}
.library-buttons {
    display: flex;
    justify-content: space-between;
    padding: 8px 16px;
    top: 0;
    left: 0;
}
.library-button {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 8px;
    opacity: 0.6;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
}
.library-button:hover {
    opacity: 1;
}

.library-type-filter {
    display: flex;
    margin: 8px 16px;
}
.library-type-filter > li {
    padding: 8px 13px;
    background-color: #232323;
    border-radius: 90px;
    font-size: 0.8rem;
    cursor: pointer;
}
.library-type-filter > li:not(:last-child) {
    margin-right: 8px;
}

.library-search {
    padding: 8px 16px;
    padding-top: 110px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.library-album-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 0 -8px;
}
.library-album-item {
    display: flex;
    gap: 8px;
    cursor: pointer;
    padding: 8px 8px;
    border-radius: 8px;
}
.library-album-item:hover {
    background-color: #222222;
}
.library-album-item img {
    height: 56px;
    border-radius: 5px;
}
.library-album-article {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 8px;
    margin-right: 15px;
}
.library-album-article strong {
    font-weight: 500;
    font-size: 1rem;
}
.library-album-article p {
    font-size: 0.875rem;
    color: rgba(255, 255, 255, 0.6);
}
